$zero:0;
$full: 100%;
$none: none;
*{
  margin:$zero;
  padding:$zero;
  box-sizing: border-box;
  font-family: sans-serif;
}
img{
  max-width: $full;
  display: block;
  user-select: $none;
}
a{
  text-decoration: $none;
  color: #313131;
}